* {
	background: rgb(50,50,50);
	color: rgb(255,255,255);

	font-family:Helvetica;
	font-weight:Normal;
	font-size: 15px;

	border-style: solid;
	border-color: rgb(255, 135, 25);
	border-width: 0px;
	border-radius: 5px;
	
	padding: 0px;
	margin: 0px;
}

/*
rgb(210, 165, 255);
rgb(255, 135, 25);
*/

QComboBox {
	background:rgb(25,25,25);
	color:rgb(250,250,250);

	text-align:left;
	padding-left:10px;

	height:25px;
}
QComboBox QAbstractItemView:item {
	background:rgb(50,50,50);
	color:rgb(250,250,250);

	text-align:left;
	padding-left:10px;

	height:25px;
}
QComboBox QAbstractItemView:item:hover {
	background:rgb(100,100,100);
	color:rgb(250,250,250);
	padding-left:10px;
}

QDockWidget {
	background: rgb(255, 135, 25);
	border-width: 1px;
}
QDockWidget:title {
	background: rgb(255, 135, 25);
}

QLineEdit {
	background: rgb(25,25,25);
	color: rgb(250,250,250);

	border-width: 1px;
	border-radius: 5px;

	text-align: left;
	padding-left: 10px;
	height: 24px;
	max-height: 24px;
}

QListWidget {
	background: rgb(50,50,50);
	color: rgb(250,250,250);
	border-width: 2px;
	border-radius: 5px;
}
QListWidget:item:hover {
	background: rgb(100,100,100);
}
QListWidget:item:selected {
	background: rgb(175,125,60);
}

QMainWindow {
	background: rgb(75,75,75);
}
QMainWindow:separator:vertical {
	background: rgb(255, 135, 25);
	width: 2px;
	border-width: 1px;
	border-radius: 0px;
	border-color: transparent rgb(150,150,150) transparent rgb(150,150,150);
}
QMainWindow:separator:horizontal {
	background: rgb(255, 135, 25);
	width: 2px;
	border-width: 1px;
	border-radius: 0px;
	border-color: rgb(150,150,150) transparent rgb(150,150,150) transparent;
}

QMenu {
	background: transparent;
	border-width: 1px;
	border-radius: 0px;
}
QMenu:item:selected {
	background: rgb(250,140,25);
	color: rgb(0,0,0);
}

QPushButton {
	border-color: rgb(255, 135, 25);
	border-width: 1px;
	border-radius: 2px;

	padding-left: 5px;
	padding-right: 5px;

	background: rgb(75,75,75);
	height: 25px;
}
QPushButton:hover {
	background: rgb(100,100,100);
}
QPushButton:pressed {
	background: rgb(255, 145, 20);
}
QPushButton:checked {
	background: rgb(255, 135, 0);
}
QPushButton:checked:hover {
	background: rgb(255, 145, 20);
}
QPushButton:checked:pressed {
	background: rgb(100, 100, 100);
}

QScrollArea {
	background: rgb(75,75,75);
}

QScrollBar:handle {
	background: rgb(255, 135, 25);
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: rgb(0,0,0);
}

QScrollBar:vertical {
	background: rgb(75, 75, 75);
	width: 18px;
	margin: 18px 0 18px 0;
}
QScrollBar:handle:vertical {
	min-height: 24px;
}
QScrollBar:add-line:vertical {
	background: rgb(100,100,100);
	height: 18px;
	border-style: solid;
	border-width: 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: rgb(0,0,0);
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}
QScrollBar:sub-line:vertical {
	background: rgb(100,100,100);
	height: 18px;
	border-style: solid;
	border-width: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-color: rgb(0,0,0);
	subcontrol-position: top;
	subcontrol-origin: margin;
}
QScrollBar:add-page:vertical, QScrollBar:sub-page:vertical {
	background: transparent;
	border-style: solid;
	border-color: rgb(0,0,0);
	border-width: 0px;
	border-right-width: 1px;
	border-left-width: 1px;
}

QScrollBar:horizontal {
	background: rgb(75, 75, 75);
	height: 18px;
	margin: 0 18px 0 18px;
}
QScrollBar:handle:horizonal {
	min-width: 24px;
}
QScrollBar:add-line:horizontal {
	background: rgb(100,100,100);
	width: 18px;
	border-style: solid;
	border-width: 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: rgb(0,0,0);
	subcontrol-position: right;
	subcontrol-origin: margin;
}
QScrollBar:sub-line:horizontal {
	background: rgb(100,100,100);
	width: 18px;
	border-style: solid;
	border-width: 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-color: rgb(0,0,0);
	subcontrol-position: left;
	subcontrol-origin: margin;
}
QScrollBar:add-page:horizontal, QScrollBar:sub-page:horizontal {
	background: transparent;
	border-style: solid;
	border-color: rgb(0,0,0);
	border-width: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

QSlider:vertical {
	background: rgb(25,25,25);
	border-width: 1px;
	border-radius: 5px;

	height: 24px;
	min-width: 24px;
}
QSlider:horizontal {
	background: rgb(25,25,25);
	border-width: 1px;
	border-radius: 5px;
	width: 24px;
	min-height: 24px;
}
QSlider:groove {
	background: transparent;
}
QSlider:handle:horizontal {
	background: rgb(255,135,0);
	width:8px;
	margin: 2px;
	border-radius: 3px;
}

QSplitter {
	background: rgb(25,25,25);
}
QSplitter:handle:vertical {
	background: rgb(255, 135, 25);
	height: 2px;
}
QSplitter:handle:horizontal {
	background: rgb(255, 135, 25);
	width: 2px;
}

QTabBar {
	background: rgb(0,0,0);
	color: rgb(0,0,0);
}
QTabBar:tab {
	background: rgb(75,75,75);
	color: rgb(200,200,200);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0,0,0);
	border-radius: 0px;
}
QTabBar:tab:left {
	width: 18px;
	border-width: 2px 1 2px 0;
	padding: 10px 0px 10px 0px;
}
QTabBar:tab:top {
	height: 18px;
	border-width: 2px 1 2px 0;
	padding: 0px 10px 0px 10px;
}
QTabBar:tab:selected {
	border-width: 2px;
	border-color: rgb(0,0,0);
	border-radius: 5px;
	background: rgb(250,140,25);
	color: rgb(0,0,0);
	border-color: transparent;
}
QTabBar:tab:selected:left {
	padding: 15px 0px 15px 0px;
}
QTabBar::tab:selected:top {
	padding: 0px 15px 0px 15px;
}

QTableCornerButton:section {
	background: rgb(50,50,50);
	border-style: solid;
	border-color: rgb(200,200,200);
	border-width: 1px 1px 1px 0;
}

QTabWidget {
	background: rgb(25,25,25);
}
QTabWidget:pane {
	border-width: 0px;
}

QTextBrowser {
	background: rgb(0,0,0);
	color: rgb(0,250,250);
	border-width: 0px;
	border-radius: 0px;
	border-color: transparent;
	font-family: Courier New;
	font-size: 16px;
}

QTextEdit, QPlainTextEdit {
	background: rgb(0,0,0);
	color: rgb(250,250,250);
	border-width: 1px;
	border-color: rgb(125,125,125);
	font-family: Courier New;
	font-size: 16px;
}

QToolBar {
	background: rgb(20,20,20);
	color: rgb(0,0,0);
	border-width: 0px;
	border-radius: 0px;
	border-color: rgb(250,250,250);
}

QToolTip {
	color: rgb(150,150,150);
	background: rgb(50,50,50);
	border-width: 1px;
	border-radius: 0px;
	border-color: rgb(250,140,25);
}

QTreeWidget {
	background: rgb(50,50,50);
	color: rgb(250,250,250);
	border-width: 2px;
	border-radius: 5px;
}
QTreeWidget:branch:has-children:!has-siblings:closed, QTreeWidget:branch:closed:has-children:has-siblings {
	border-image: none;
	image: url(./Resources/Icons/Collapsed.png);
}
QTreeWidget:branch:open:has-children:!has-siblings, QTreeWidget:branch:open:has-children:has-siblings {
	border-image: none;
	image: url(./Resources/Icons/Expanded.png);
}

#Option_Button {
	width: 100px;
	text-align: left;
}

#Icon_Button {
	height: 24px;
	max-height: 24px;
	width: 24px;
	max-width: 24px;
	padding: 0px;
}

#Keyframe_Toggle {
	height: 24px;
	max-height: 24px;
	width: 24px;
	max-width: 24px;
}



QPushButton#Icon {
	color:rgb(250,250,250);
	background:rgb(50,50,50);

	border-width:1px;
	border-radius:20px;
	border-color:rgb(0,0,0);
	height:25px;
	width:25px;
}
QPushButton#Large_Icon {
	color: rgb(250,250,250);
	background: rgb(50,50,50);
	border-width: 1px;
	border-radius: 20px;
	border-color: rgb(0,0,0);
	height: 25px;
	width: 25px;
}
QPushButton#Large_Icon {
	height:40px;
	width:40px;
}
QPushButton#Toggle {
	color:rgb(250,250,250);
	background:rgb(50,50,50);

	border-width:1px;
	border-radius:2px;
	border-color:rgb(0,0,0);
	height:25px;
	width:25px;
}
QPushButton#Floating_Toggle {
	color:rgb(250,250,250);
	background:rgb(50,50,50);

	border-width:1px;
	border-radius:5px;
	border-color:rgb(250,140,25);
	text-align:left;
	padding-left:5px;
	height:25px;
	width:60px;
}
QPushButton#Item, QPushButton#Item_Label {
	color:rgb(250,250,250);
	background:rgb(50,50,50);

	border-width:1px;
	border-radius:0px;
	border-color:rgb(150,150,150);
	text-align:left;
	padding-left:10px;
	height:25px;
	width:200px;
}
QPushButton:hover#_Default_Button, QPushButton:hover#_Default_Toggle, QPushButton:hover#Icon, QPushButton:hover#Large_Icon, QPushButton:hover#Option, QPushButton:hover#Item, QPushButton:hover#Toggle, QPushButton:hover#Floating_Toggle {
	background:rgb(100,100,100);
}
QPushButton:hover#Toggle_Disabled {
	background:rgb(50,0,0);
}
QPushButton:pressed#_Default_Button, QPushButton:pressed#_Default_Toggle, QPushButton:pressed#Icon, QPushButton:pressed#Large_Icon, QPushButton:pressed#Option, QPushButton:pressed#Item, QPushButton:pressed#Toggle, QPushButton:pressed#Floating_Toggle {
	background:rgb(80,80,80);
}
QPushButton:checked:hover#_Default_Button, QPushButton:checked:hover#_Default_Toggle, QPushButton:checked:hover#Toggle, QPushButton:checked:hover#Floating_Toggle, QPushButton:checked:hover#Item {
	background:rgb(60,60,60);
}
QPushButton:checked#_Default_Button, QPushButton:checked#_Default_Toggle, QPushButton:checked#Toggle, QPushButton:checked#Floating_Toggle, QPushButton:checked#Item {
	background:rgb(100,100,100);
}



QLabel#_Default_Label {
	background:rgb(75,75,75);
	color:rgb(200,200,200);
}
QLabel#Label {
	color:rgb(250,250,250);
	background:transparent;

	font-size:14px;
	text-align:left;
	padding-left:6px;
	padding-top:3px;
	padding-bottom:3px;
	height:15px;
}


QProgressBar#_Default_Progress {
	background:rgb(25,25,25);
	height:20px;
}
QProgressBar::chunk#_Default_Progress {
	background:rgb(150,150,150);
}

QSlider::horizontal#_Default_Slider {
	height:20px;
}
QSlider::vertical#_Default_Slider {
	width:20px;
}
QSlider::add-page:horizontal#_Default_Slider {
	background:rgb(25,25,25);
} 
QSlider::sub-page:horizontal#_Default_Slider {
	background:rgb(100,100,100);
}
QSlider::handle:horizontal#_Default_Slider {
	background:rgb(250,140,25);
	border-style:solid;
	border-width:1px;
	border-color:rgb(150,150,150);
}


QTableWidget#_Default_Spreadsheet {
	background:rgb(50,50,50);
	color:rgb(200,200,200);

	gridline-color:rgb(200,200,200);
}
QTableWidget::item#_Default_Spreadsheet {
	background:rgb(75,75,75);
}
QTableWidget::item:selected#_Default_Spreadsheet {
	background:rgb(125,125,125);
	color:rgb(250,250,250);
}
QTableWidget#_Default_Spreadsheet QLineEdit {
	background:rgb(25,20,20);
	color:rgb(250,250,250);
}

QHeaderView {
	background:rgb(0,0,0);
	color:rgb(200,200,200);
}
QHeaderView#_Horizontal {
	border-color: rgb(150,150,150);
	border-width: 1px 0 1px 0;
}
QHeaderView#_Vertical {
	border-color: rgb(150,150,150);
	border-width: 0 1px 1px 0;
}
QHeaderView::section {
	background: rgb(25,25,25);

	border-style: none;
	border-color: rgb(250,0,0);
}
QHeaderView::section#_Horizontal {
	border-right: 1px solid rgb(150,150,150);
	padding: 3px 0 3px 0;
}
QHeaderView::section#_Vertical {
	border-bottom: 1px solid rgb(150,150,150);
	padding: 5px 3px 5px 8px;
}
QHeaderView::section:checked#_Horizontal {
	background: rgb(150,150,150);
	color: rgb(250,250,250);
	padding: 3px 0 3px 0;
}
QHeaderView::section:checked#_Vertical {
	background: rgb(150,150,150);
	color: rgb(250,250,250);
	padding: 5px 3px 5px 8px;
}

QWidget#_Default_Widget {
	background:rgb(50,50,50);
}
QWidget#_Container {
	background:rgb(50,50,50);
	
	border-width:0 1px 1px 1px;
	border-color:rgb(250,140,25);
}
QWidget#_Default_Linear_Contents {
	background:rgb(50,50,50);

	border-width:0px;
	border-radius:0px;
	border-color:transparent;
}
QWidget#_Horizontal_Linear_Contents {
	background:rgb(50,50,50);

	border-width:1px;
	border-radius:0px;
	border-color:rgb(250,140,25);
}
QWidget#_Default_Widget {
	background:rgb(50,50,50);

	border-width:1px;
	border-radius:0px;
	border-color:rgb(250,140,25);
}
